<h1>Listing users</h1>

<div id="user-view">
  <table id="data-table">
    <tr class="toshi">
      <th>ID</th>
      <th>NAME</th>
      <th>EMAIL</th>
      <th></th>
    </tr>
  </table>
  <div id="edit-area" style="display:none;">
    <input type="text" placeholder="name" value="" class="name"><br>
    <input type="text" placeholder="email" value="" class="email"><br>
    <input type="submit" value="Submit" class="submit">
  </div>
</div>

<br>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<table>
  <thead>
    <tr>
      <th>SHOW ALL</th>
      <th>SHOW</th>
      <th>EDIT</th>
      <th>CREATE</th>
      <th>DELETE</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><button id="show-all">Show /users</button></td>
      <td><button id="show">Show /users/1</button></td>
      <td><input type="text" name="new-name" id="new-name" placeholder="edit name"> <button id="edit">Edit /users/1/edit</button></td>
      <td><input type="text" name="new-name" id="create-new-name" placeholder="new name"> <button id="create">Create /users</button></td>
      <td><button id="delete">Delete /users/2</button></td>
    </tr>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
